import os
import sys

import launch
import launch_ros.actions
{{imports}}

def generate_launch_description():
    ld = launch.LaunchDescription([
        {{actions}}
    ])
    return ld


if __name__ == '__main__':
    generate_launch_description()